<% @restaurants.each do |rest| %>
  <h5>
    Restaurant Type: <%= rest.rest_type %>
    <br />
    Name: <%= rest.name %>
    <br />
    Location / Address: <%= rest.address %>
    <br />
    Dined At: <%= rest.dined_at %>
    <br />
    Rating: <%= rest.rating %>
    <br />
    Comments: <%= rest.comments %>
  </h5>
<% end %>
