<!DOCTYPE html>
<html ng-app="RestaurantApp">
<head>
  <title>RestaurantReviews</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'angular', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js">
  </script>
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
    <% if current_user %>
      <p class="navbar-text" ng-controller="HeaderController as header">Signed in as {{header.current_user.email}}</p>
      <form action="<%= session_path %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input class="btn btn-xs btn-warning" id="top-button" type="submit" value="Log Out">
      </form>
    <% end %>
  </div>
</nav>


<body>

  <%= yield %>
  <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
</body>
</html>
